@page
@model BehineNiroo.ChangePasswordModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="text-white text-center" style="font-family:'B Yekan'">تغییر کلمه عبور</h2>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <div class="form-group text-right">
                        <label style="font-family:'B Yekan'" asp-for="changePassword.CurrentPassword"></label>
                        <input asp-for="changePassword.CurrentPassword" class="form-control" />
                        @*<span asp-validation-for="changePassword.CurrentPassword" class="text-danger"></span>*@
                    </div>
                    <div class="form-group text-right">
                        <label style="font-family:'B Yekan'" asp-for="changePassword.NewPassword"></label>
                        <input asp-for="changePassword.NewPassword" class="form-control" />
                        @*<span asp-validation-for="changePassword.NewPassword" class="text-danger"></span>*@
                    </div>
                    <div class="form-group text-right">
                        <label style="font-family:'B Yekan'" asp-for="changePassword.ConfirmPassword"></label>
                        <input asp-for="changePassword.ConfirmPassword" class="form-control" />
                        @*<span asp-validation-for="changePassword.ConfirmPassword" class="text-danger"></span>*@
                    </div>
                    <div asp-validation-summary="All" class="text-danger text-right" style="font-family:'B Yekan';"></div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" style="border-radius: 10em;font-family:'B Yekan';font-size:medium">به روز رسانی</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


