@page
@model BehineNiroo.ChangePasswordConfirmationModel
@{
    ViewData["Title"] = "تایید تغییر کلمه عبور";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<h3 class="text-white text-right" style="font-family:'B Yekan'">
    .کلمه عبور شما با موفقیت به روز رسانی شد
</h3>

