@page
@model PrivacyModel
@{
    ViewData["Title"] = "قوانین و مقررات";
}
<h1 class="text-white text-center">@ViewData["Title"]</h1>
<br />
<p class="bg-white p-2">
    Use this page to detail your site's privacy policy.Use this page to detail your site's privacy policy.
    Use this page to detail your site's privacy policy.
    Use this page to detail your site's privacy policy.
    Use this page to detail your site's privacy policy.
</p>
